/* @font-face {
    font-family: 'Playfair Display';
    src: url(../font/sweet-sensations-personal-use/sweet-sensations-personal-use.regular.ttf);
} */

@font-face {
    font-family: 'causten';
    src: url(../font/Causten-Regular.otf);
}

/* body {
    font-family: 'causten';
} */

.sec-bg-header22 {
    background-color: #111111;
}

.sec-logo222 {
    margin-bottom: -70px;
    z-index: 999; 
    position: relative;
}

a.btn.sec-menu-btn.my-2.my-sm-0 {
    background: #C48D06;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}

li.nav-item.pl-2.pr-2 {
    padding-top: 11px;
}

.sec-header-icon {
    color: #C38D06;
}

.sec-number {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;

}
.sec-number:hover {
    color: #C38D06;
}

.sec-hair-pa a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    
    color: #2F2F2F;
}



.sec-bg-header {
    background-image: url(../images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
}


a.nav-link.text-light {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    line-height: 81%;
}

.sec-heading-main {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 108.98%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 8%;
}


.sec-heading-main2 {
    color: #E0AE30;
}

.sec-but-1 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 119.48%;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    border: 2px solid #C48D06;
    display: inline-block;
}

.sec-but-1:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color:#C48D06 ;
}
.sec-serv-new{
    background-color: #111111;
    padding-bottom: 80px;
}

.sec-new-imag{
    background-image: url(../images/Polygon\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    padding: 65px;
}
.sec-new-imag:hover{
    background-image: url(../images/Polygon\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    padding: 65px;
}
.service-section-offered{
    margin-top: -85px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 37px;
    height: 10px;
    margin: 5px 7px;
    background: #CFA335;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 0 !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 38px;
}

.sec-serv-h {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 119.48%;
    text-align: center;
    background: linear-gradient(105.42deg, #E0AE30 10.69%, #B88611 134.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 30px 0px;

}

.sec-ser-n {
    font-size: 22px !important;
}

.sec-sev-img {
    padding: 19px 14px;
}

.sec-but-2 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 119.48%;
    text-align: center;
    color: #fff;
    padding: 15px 50px;
    background-color: #2F2F2F;


}



 .sec-  new-imag:hover .sec-ser-hov:hover{
    color: #ffffff !important ;
    text-decoration: none;
}



.sec-but-2:hover {
    color: #fff;
    text-decoration: none;
}

.sec-bg-header2 {
    background-image: url(../images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-hair-h {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 119.48%;
    background: linear-gradient(105.42deg, #E0AE30 10.69%, #B88611 134.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.sec-bg-header3 {
    background-image: url(../images/whatsapp\ offer\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-bg-header33 {
    background-image: url(../images/whatsapp\ offer\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-p-what {
    padding-top: 14%;
    padding-bottom: 4%;
}

.sec-p-what {
    font-size: 20px !important;
}

.sec-p-what h2 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 57px;
    text-transform: capitalize;
    color: #FFFFFF;

}

input#exampleInputEmail1 {
    padding: 35px 19px;
    border-radius: 0;
}

.sec-but-3 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 114.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #25D366;
    display: inline-block;
    padding: 21px 35px;
}

.sec-but-3:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.sec-btn-what {
    padding-top: 0px;
}

.sec-bg-header4 {
    background-image: url(../images/Group\ 26\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-bg-header44 {
    background-image: url(../images/Rectangle\ 49.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-ind-p {
    font-size: 20px;
    padding: 20px;
}

.sec-serv-h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 119.48%;
    text-align: center;
    background: linear-gradient(105.42deg, #E0AE30 10.69%, #B88611 134.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 125px 0px 30px 0px;

}

.sec-bg-header5 {
    background-color: #111111;
}

hr.sec-hr {
    background: #fff;
    height: 2px;
    opacity: 1;
    margin-top: 30px;
}

.sec-foot-h {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 81%;
    color: #E0AE30;
    text-align: center;
}

.sec-foot-c {
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 112.5%;
    text-align: center;
    color: #FFFFFF;

}

.sec-foot-c:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.sec-form {
    padding: 10px !important;
}

.sec-but-4 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 81%;
    color: #000000;
    background-color: #fff;
    padding: 10px 13px;
}

.sec-btn-what2 {
    padding-top: 7px;
}

.sec-but-4:hover {
    color: #000000;
    text-decoration: none;
}

/* about */
a.nav-link.sec-t.text-light {
    color: #000 !important;
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 81%
}

.sec-about-header {
    background-image: url(../images/about-bgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.sec-about-h {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 60px;
    line-height: 96.98%;
    color: #ffffff;
    padding: 150px 0px;
}

.sec-our {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 96.98%;
    color: #000000;

}

.sec-our-p {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 165.48%;
    color: #666666;
}

.sec-our2 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 165.48%;
    color: #333333;

}

.sec-icon {
    font-size: 22px;
}


/* Services */
.sec-about-header2 {
    background-image: url(../images/Group\ 86\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.form-check-input:checked {
    background-color: #C38D06;
    border-color: #C38D06;
}

.checked {
    color: #C38D06;
}

.btn-orange {
    color: #ffffff !important;
    background-color: #C38D06 !important;
    border-color: #C38D06 !important;
}

h4.text-orange {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    color: #C48D06;
}

label {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 165.48%;
    color: #666666;

}

.sec-btn-what2 .sec-but-4 {
    display: inline-block;
}

.footer-formwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer-formwrap .sec-btn-what2 {
    padding-top: 0px;
}

.footer-formwrap .form-group.p-0 {
    margin: 0px;
}

.footer-formwrap .sec-but-4 {
    padding: 13px 13px;
}

.service-section .card-body .btn {
    padding: 5px 20px;
    font-size: 13px;
}


/* whatsapp */
a {
    text-decoration: none !important;
}

.floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
}

/* ---franchise */
.sec-fran-header {
    background-color: #000;

}

.sec-fra-h {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 96.98%;
    text-align: right !important;
    justify-content: center;
    color: #CF9D23;
    padding-top: 80px;

}

.sec-about-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150.98%;
    text-align: right;
    width: 805;
    color: #FFFFFF;
    padding-bottom: 20px;
}

/* ------------------franchise-------------- */

.sec-fran-bg {
    background-image: url(../images/Rectangle\ 47.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-f-h {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 96.98%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}

.sec-serv-fra-h {

    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 96.98%;
    text-align: center;
    color: #000;
    padding-top: 50px;
}

.sec-ser-hov22 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 96.98%;
    text-align: center;
    color: #666666;
}

.sec-ser-hov22:hover {
    color: #666666;
}

.sec-hover-full:hover .sec-ser-hov22::before {
    content: "";
    width: 55px;
    height: 5px;
    background-color: #C38D06;
    position: absolute;
    bottom: -13px;
    margin: auto;
    left: 0;
    right: 0;
}

.sec-fan-p-ser {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 133.48%;
    text-align: center;
    color: #000000;
}


/* ---------------------------------contact-page---------------------------- */

.icon {
    padding-top: 20px;
    font-size: 40px;
}

.sec-con-p {
    word-break: break-word;
}

.con-bg {
    margin-top: -40px;
}

.sec-form {
    width: 55%;
}

input.form-control.shadow.p-4.mt-2.mb-2.bg-body {
    border-radius: 0px !important;
    font-size: 25px;
    font-family: 'Crimson';
    font-weight: 600;
    height: 65px;
}

textarea.form-control.shadow.p-1.mt-2.mb-2.bg-body {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Crimson';
    border-radius: 0px !important;
    padding: 7px 23px !important;
}

.btn {
    background-color: #C38D06;
    border-radius: 0;
    padding: 15px 50px;
    font-family: 'Crimson';
    font-size: 25px;
}

.btn.btn:hover {
    background-color: #C38D06;
}

.sec-foot-p {
    letter-spacing: 1px;
}

.sec-cont {
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input#exampleInputEmail12 {
    border-radius: 0px;
}

.style-gallery-section {
    padding: 80px 0px;
}

/* ---------------all-team -----------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
}

h1 {
    font-weight: 100;
    margin: 0;
}

section {
    column-width: 300px;
    column-gap: 5px;
    padding: 5px;
}

section img {
    width: 100%;
    cursor: pointer;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background: #7f8c8d;
    perspective: 1000;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    opacity: 0.5;
    background-position: center;
    background-size: cover;
}

.lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    max-height: 95vh;
    max-width: calc(95vw - 100px);
    transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
    transform-style: preserve-3d;
}


/*.lightbox:hover img{
  transform: translate(-50%, -50%) rotateY(180deg);
}*/

[class^="arrow"] {
    height: 200px;
    width: 50px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

[class^="arrow"]:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 15px;
    height: 15px;
}

.arrowr {
    right: 0;
}

.arrowr:after {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.arrowl {
    left: 0;
}

.arrowl:after {
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.close {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    margin: 20px;
    cursor: pointer;
}

.close:after,
.close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #e74c3c;
}

.close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.title {
    font-size: 20px;
    color: #000;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
}








.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.sec-about-h22 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 96.98%;
    text-align: left !important;
    justify-content: center;
    color: #000;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.tz-gallery {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row>div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;

}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

/* product */
.sec-but-22 {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 119.48%;
    text-align: center;
    color: #fff;
    padding: 9px 32px;
    background-color: #2F2F2F;
    text-transform: uppercase;
    border: none;
}

.sec-product-shop-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 119.48%;
    text-align: center;
    background: linear-gradient(105.42deg, #E0AE30 10.69%, #B88611 134.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 30px 0px;
}

.form-group label {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
}

@media (max-width:991px) {

    .mission-vision-content {
        margin-top: 40px;
    }

    .pt-5.abt-mission-vision {
        padding-top: 0px !important;
    }

    .out-story-content {
        margin-top: 40px;
    }

    .abt-our-story .row {
        flex-direction: column-reverse;
    }

    .abt-mission-vision {
        flex-direction: column-reverse;
    }

    .sec-about-header {
        min-height: auto;
    }

    .sec-bg-header22 {
        padding: 0px 0px !important;
    }

    .tab-pane h3 br {
        display: none;
    }

    .tab-pane h3 {
        font-size: 20px;
    }

    .sec-serv-h {
        padding: 0px 0px 20px;
    }

    a.nav-link.sec-t.text-light {
        font-size: 18px;
        text-align: center;
    }

    .service-section-offered {
        padding-bottom: 0px !important;
    }

    .hair-beauty-section {
        padding-bottom: 0px !important;
    }

    .sec-p-what h2 {
        font-size: 32px;
    }

    .style-gallery-section .sec-ser-n {
        font-size: 20px !important;
    }

    .container-fluid.sec-bg-header44 .pt-5.pb-5.text-center {
        padding-top: 0px !important;
    }
}

@media (max-width:767px) {
    .sec-new-imag{
       padding: 10px;
    }
    .sec-new-imag:hover{
       padding: 10px;
    }
    .service-section-offered{
        margin: 0px !important;
        padding: 10px 0px !important;
    }
    .sec-logo222 {
        margin-bottom: 0px !important;
        width: 53% !important;
    }

    li.nav-item.pl-2.pr-2 {
        padding-top: 0px !important;
    }

    .con-bg {
        margin-top: 50px;
    }

    .sec-serv-fra-h {

        font-weight: 700;
        font-size: 32px;
        line-height: 96.98%;

    }

    .sec-f-h {
        font-weight: 700;
        font-size: 32px;
        line-height: 96.98%;

    }

    .sec-fan-p-ser {

        font-size: 20px;
        line-height: 133.48%;

    }

    .sec-about-h {

        font-weight: 700;
        font-size: 50px;
        line-height: 96.98%;

        padding: 80px 0px;
    }

    .sec-our {

        font-weight: 700;
        font-size: 35px;
        line-height: 96.98%;
        color: #000000;

    }

    .sec-fra-h {

        font-size: 50px;
        line-height: 96.98%;
        text-align: center;
        padding-top: 80px;

    }

    .sec-about-p {
        font-size: 15px;
        line-height: 150.98%;
        text-align: center;

    }

    .sec-ser-hov22 {

        font-size: 16px;

    }

    .sec-form {
        width: 100%;
    }

    .sec-bg-header22 {
        background-color: #2F2F2F;
        padding: 10px !important;
    }

    .sec-heading-main {
        font-weight: 400;
        font-size: 35px;
        line-height: 108.98%;
    }

    .sec-bg-header44 {
        background-image: none;
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sec-but-1 {
        font-size: 15px;
        line-height: 119.48%;
        padding: 15px 30px;
    }

    .sec-but-2 {
        font-size: 15px;
        line-height: 119.48%;
        padding: 15px 20px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .pl-5.style-gallery-section {
        padding-left: 15px !important;
    }

    .container-fluid.sec-bg-header44 .sec-serv-h2 {
        padding: 40px 0px 0px 0px;
    }

    .sec-b-m {
        margin: 20px 0px !important;
        padding: 5px !important;
    }

    .sec-serv-h {
        font-size: 45px;
    }

    .sec-hair-img {
        width: 100%;
    }

    .sec-hair-h {
        font-size: 45px;
        padding-top: 30px;
    }

    .sec-p {
        padding: 0 !important;
    }

    .sec-serv-h2 {
        font-size: 35px;
    }

    .sec-p-bec {
        padding: 0 !important;
        margin: 0 !important;
    }

    .sec-logo {
        width: 100%;
    }

    input.form-control.shadow.p-4.mt-2.mb-2.bg-body {
        font-size: 20px;
    }

    textarea.form-control.shadow.p-1.mt-2.mb-2.bg-body {
        font-size: 20px;
    }

    .btn {
        padding: 10px 40px;
        font-size: 20px;
    }
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1500px !important;
}
}